extends layout
block content
 h1= title
 - let Ushodayaid = toShow._id
 - let Itemname = toShow.Itemname
 - let Quantity= toShow.Quantity
 - let price = toShow.price
  div
    div.row
      div(class='UshodayaAttr mr-3') Ushodaya ID is:
      div #{Ushodayaid}
    div.row
      div(class='UshodayaAttr mr-3') Itemname is:
      div(class='UshodayaDetailAttr') #{Itemname}
    div.row
      div(class='UshodayaAttr mr-3') Quantity is:
      div(class='UshodayaDetailAttr') #{Quantity}
    div.row
      div(class='UshodayaAttr mr-3') price is:
      div(class='UshodayaDetailAttr') #{price}